body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #e6e6e6 !important;
  color: #3c3c3c
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4em !important;
}

.logo-span img{
  vertical-align: top;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content:center;
  padding-top: 15%;
}

.ui.focus.input{
  width: 10em !important;
}

.ui.input>input{
  padding: 0.25em 0.5em !important;
}

.ui.input {
  font-size: 3em !important;
}


