html{
  scroll-behavior: smooth;
}

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8 !important;
  color: #3c3c3c
}

span.red-border{
  display: inline-block;
  border-bottom: 3px red solid;
}

/***** 
NAVBAR
 ****/

 nav{
  width: 100%;
  padding: 15px 10px;
  box-shadow: 0px 1px 8px #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li.nav-top-pad {
  padding-top: 1.25em;
}

.btc-logo{
  padding-left: 50px;
}

.help-icon {
  font-size: 5em;
  padding-right: 50px;
}

.icon {
  display: inline-block;
  padding: 0 15px;
  font-size: 3em;
}

 .nav-title h1{
  font-size: 58px !important;
}

.logo-span img{
  vertical-align: top;
}

/*******************
CONVERSION COMPONENT
*******************/

.conversion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1.title {
  font-size: 4em !important;
  line-height: 1.5em !important;
}

.ui.selection.dropdown{
  min-width: 3em !important;
  padding: 10px 44px 10px 8px !important;
  min-height: 0 !important;
}

.ui.search{
  font-size: 3.5em !important;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  top: 1em !important;
  right: 1em !important;
  padding: 0 !important;
}

/************* 
INFO COMPONENT
*************/

.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.ui.button{
  line-height: 1.5em !important;
}

.info-header{
  font-size: 28px !important;
  padding-left: 0 !important;
}

.info-title{
  text-align: left;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 35px;
}

.info-list-item{
  padding-left: 0 !important;
}

.info-list{
  padding-left: 100px;
}

.info-subhead{
  font-size: 18px !important;
  margin-bottom: 0 !important;
  line-height: 30px !important;
}

.info-copy{
  font-size: 16px;
  text-align: left;
  padding-left: 50px;
}

li.info-copy{
  line-height: 26px;
}

.ui.focus.input{
  width: 9em !important;
}

.ui.input>input{
  padding: 0.25em 0.5em !important;
}

.ui.input {
  font-size: 3em !important;
  display: block !important;
  top: 0.25em;
}

.search{
  padding: 5px 8px !important;
}

.converted-amount{
  height: 72px;
}

.ui.button{
  width: 15%;
  height: 5%;
  margin: 0 auto !important;
  position: relative;
  top: 5%;
  letter-spacing: 1px;
}

.disclaimer, .data{
  margin-bottom: 10px;
}

/************
MEDIA QUERIES
************/

@media only screen and (max-device-width: 480px) and (orientation: portrait),
       only screen and (device-width: 412px) and (orientation: portrait),
       only screen and (min-device-width: 374px) and (max-device-width: 376px),
       only screen and (min-device-width: 413px) and (max-device-width: 415px),
       only screen and (min-device-width: 319px) and (max-device-width: 321px),
       only screen and (device-width: 375px) and (orientation: portrait),
       only screen and (device-width: 393px) and (orientation: portrait),
       only screen and (device-width: 360px) and (orientation: portrait){
  .nav-title h1{
    font-size: 32px !important;
  }
  .btc-logo, .help-icon{
    display: none !important;
  }

  nav ul{
    justify-content: center;
  }

  .ui.search{
    font-size: 3em !important;
  }

  .ui.focus.input {
    width: 8em !important;
  }

  .info{
    height: 100% !important;
    margin-bottom: 25px !important;
  }

  .info-title{
    font-size: 38px;
    line-height: 50px;
  }

  .info-header{
    font-size: 24px !important;
  }

  .ui.button{
    width: 30% !important;
  }
}
